/*-root
{
    --rotateSPEED: 10s;
}*/

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.scene
{
    height: 250px;
    width: 250px
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 60px;
}

.cube {
    height: 250px;
    width: 250px;
;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /*transform: rotate3d(1,1,1,30deg);*/
    transform-style: preserve-3d;
    animation: rotateCUBE 10s linear infinite;
}

@keyframes rotateCUBE {
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.face {
    height: 100%;
    width: 100%;
    /*border: 3px solid black;*/
    
    position: absolute;
}

.top {
    background-color:#222;/*adjust value btw #111 to #333*/
    
    transform: rotateX(90deg) translateZ(125px);
}

.bottom {
    background-color: rgb(0,255,255);/*change the color if u required*/
    
    transform: rotateX(270deg) translateZ(200px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0,255,255),
    0 0 200px rgba(0,255,255,0.2),
    0 0 300px rgba(0,255,255,0.4),
    0 0 400px rgba(0,255,255,0.6),
    0 0 500px rgba(0,255,255,0.8),
    0 0 600px rgba(0,255,255,1);
/*change the color if u required*/
}

.right, .left, .front, .back {
    background-image: linear-gradient(#000, rgb(0,255,255));/*change the color if u required*/
}

.right {
    transform: rotateY(90deg) translateZ(124px);
}

.left {
    transform: rotateY(270deg) translateZ(124px);
}

.front {
    transform: translateZ(125px);
}

.back {
    transform: rotateY(180deg) translateZ(125px);
}